<!DOCTYPE html>
<html>
<head>
  <title>Gamified Cleaning</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

	<div align="center">
<div id="alert">
    <a class="alert" href="#alert">This website is under construction. There isn't a lot of functionality implemented and for the time being development has stopped.</a>
</div>

<%= yield %>



</body>
</div>
</html>
