<!DOCTYPE html>
<html>
<head>
  <title>Gamified Cleaning</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

	<div align="center">

<%= yield %>



</body>
</div>
</html>
